<p> My name is Anton Lebed &mdash; I am a <b>design lead.</b></p>

<p>
I am 30 years old and have been <mark>working in design for more than 10 years</mark> now. I use design thinking and process to educate others and make complex&nbsp;&mdash;&nbsp;simple.
</p>

<p>I am <b>fascinated with technology and science</b>, curious and forward thinking.<br /> So far &ndash; my curiosity has led me to work  design roles <mark> in neuroscience, financial, cyber-security, medical, retail, social media, music and event management</mark> software industries.<br /> I don’t look for jobs to do &mdash; I look for great ideas to become a&nbsp;part&nbsp;of.</p><br />

<p>I am experienced at <b>building and managing design teams.</b> Over the last 5 year I have been helping companies to create design friendly environments and a process tailored to their specific needs, bringing their ideas and products to the next&nbsp;level.</p>

<p>Working primarily in <b>design management</b> and leadership roles lately, I am no stranger to <mark>product ownership, ux design, research and interface&nbsp;design.</mark></p>

<p>Growing up in a software engineer's family I’ve been exposed to <mark>coding and building from a very young age</mark> and have a strong understanding of&nbsp;technical aspects of product engineering and code.</p>

<p>Born in Ukraine &mdash; raised in Ireland,<br /> I am <b>fluent in 3 languages</b> and have worked in 5 different countries around the world.</p>

<p>Sometimes I work on personal projects and collaborate with startup teams. Yes, this design thing is <b>more than just a job</b> for&nbsp;me. In my free time I enjoy yoga, playing around with robotics and single board pc's, reading phylosophy books and playing video games.</p>

<p>
  <b>Currently:</b><br/>
  Product Design & UX Lead @&nbsp;<a href="https://www.emotiv.com" target="_blank">Emotiv</a>
</p>

<p>
  <b>Previously:</b><br/>
  Product Design & UX Lead @&nbsp;<a href="https://www.sysnetgs.com" target="_blank">Sysnet</a>
</p>
