<p> My name is Anton Lebed &mdash; I am a <b>design lead.</b></p>

<p>
I am 30 years old and have been <mark>working in design for more than 10 years</mark> now. I use design thinking and process to educate others and make complex things&nbsp;&mdash;&nbsp;simple.
</p>

<p>I am <b>fascinated with technology and science</b>, curious and forward thinking. Working with software, my curiosity has led me to work  design roles <mark> in neuroscience, financial, cyber-security, medical, retail, social media, music and event management</mark>  industries. I don’t look for jobs to do &mdash; I look for great ideas to become a&nbsp;part&nbsp;of.</p>

<p>I am experienced at <b>building and managing design teams.</b> Over the last 5 year I have been helping companies to create design friendly environments and a process tailored to their specific needs, bringing their ideas and products to the next&nbsp;level.</p>

<p>Working primarily in <b>design management</b> and leadership roles lately, I am not a stranger to <mark>product ownership, ux design, research and interface&nbsp;design.</mark></p>

<p>Growing up in a software engineer's family I’ve been exposed to <mark>coding and building from a very young age</mark> and have a strong understanding of&nbsp;technical aspects of product engineering and code.</p>

<p>Born in Ukraine, but raised in Ireland &ndash; I am <b>fluent in 3 languages</b> and have worked in 5 different countries around the world in my&nbsp;career.</p>

<p>In my free time <mark>I work on personal projects and collaborate with startup teams.</mark> Yes, this design thing has become <b>more than just a career</b> for&nbsp;me.</p>

<p>
  <b>Currently:</b><br/>
  Product Design & UX Lead @&nbsp;<a href="https://www.emotiv.com" target="_blank">Emotiv</a>
</p>

<p>
  <b>Previously:</b><br/>
  Product Design & UX Lead @&nbsp;<a href="https://www.sysnetgs.com" target="_blank">Sysnet</a>
</p>
